UnitTestProject/Service References/LM_TestDev_WS_Reference/LM_TestDev_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="Fibonacci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciJSONResponse">
        <s:complexType />
      </s:element>
      <s:element name="XmlToJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonWithFormatting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isOutputIndented" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonWithFormattingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonWithFormattingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decimal" type="s:decimal" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FibonacciSoapIn">
    <wsdl:part name="parameters" element="tns:Fibonacci" />
  </wsdl:message>
  <wsdl:message name="FibonacciSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciResponse" />
  </wsdl:message>
  <wsdl:message name="FibonacciJSONSoapIn">
    <wsdl:part name="parameters" element="tns:FibonacciJSON" />
  </wsdl:message>
  <wsdl:message name="FibonacciJSONSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciJSONResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJson" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithFormattingSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJsonWithFormatting" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithFormattingSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonWithFormattingResponse" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpGetIn">
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="FibonacciJSONHttpGetIn">
    <wsdl:part name="n" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FibonacciJSONHttpGetOut" />
  <wsdl:message name="XmlToJsonHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithFormattingHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
    <wsdl:part name="isOutputIndented" type="s:string" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonWithFormattingHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LM_TestDev_WSSoap">
    <wsdl:operation name="Fibonacci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Fibonacci service takes input an integer n and return the Nth value in the Fibonacci sequence</wsdl:documentation>
      <wsdl:input message="tns:FibonacciSoapIn" />
      <wsdl:output message="tns:FibonacciSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Fibonacci service takes input an integer n and return the Nth value in the Fibonacci sequence (JSON version)</wsdl:documentation>
      <wsdl:input message="tns:FibonacciJSONSoapIn" />
      <wsdl:output message="tns:FibonacciJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The XmlToJson service converts an Xml string to it's Json format if it's well-formed.</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonSoapIn" />
      <wsdl:output message="tns:XmlToJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithFormatting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The XmlToJson service converts an Xml string to it's Json format if it's well-formed.</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonWithFormattingSoapIn" />
      <wsdl:output message="tns:XmlToJsonWithFormattingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LM_TestDev_WSHttpGet">
    <wsdl:operation name="Fibonacci">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Fibonacci service takes input an integer n and return the Nth value in the Fibonacci sequence</wsdl:documentation>
      <wsdl:input message="tns:FibonacciHttpGetIn" />
      <wsdl:output message="tns:FibonacciHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The Fibonacci service takes input an integer n and return the Nth value in the Fibonacci sequence (JSON version)</wsdl:documentation>
      <wsdl:input message="tns:FibonacciJSONHttpGetIn" />
      <wsdl:output message="tns:FibonacciJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The XmlToJson service converts an Xml string to it's Json format if it's well-formed.</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonHttpGetIn" />
      <wsdl:output message="tns:XmlToJsonHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithFormatting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The XmlToJson service converts an Xml string to it's Json format if it's well-formed.</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonWithFormattingHttpGetIn" />
      <wsdl:output message="tns:XmlToJsonWithFormattingHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LM_TestDev_WSSoap" type="tns:LM_TestDev_WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap:operation soapAction="http://localhost/Fibonacci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciJSON">
      <soap:operation soapAction="http://localhost/FibonacciJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap:operation soapAction="http://localhost/XmlToJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithFormatting">
      <soap:operation soapAction="http://localhost/XmlToJsonWithFormatting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LM_TestDev_WSSoap12" type="tns:LM_TestDev_WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fibonacci">
      <soap12:operation soapAction="http://localhost/Fibonacci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciJSON">
      <soap12:operation soapAction="http://localhost/FibonacciJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <soap12:operation soapAction="http://localhost/XmlToJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithFormatting">
      <soap12:operation soapAction="http://localhost/XmlToJsonWithFormatting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LM_TestDev_WSHttpGet" type="tns:LM_TestDev_WSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Fibonacci">
      <http:operation location="/Fibonacci" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciJSON">
      <http:operation location="/FibonacciJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="XmlToJson">
      <http:operation location="/XmlToJson" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonWithFormatting">
      <http:operation location="/XmlToJsonWithFormatting" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LM_TestDev_WS">
    <wsdl:port name="LM_TestDev_WSSoap" binding="tns:LM_TestDev_WSSoap">
      <soap:address location="http://localhost:54016/LM_TestDev_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="LM_TestDev_WSSoap12" binding="tns:LM_TestDev_WSSoap12">
      <soap12:address location="http://localhost:54016/LM_TestDev_WS.asmx" />
    </wsdl:port>
    <wsdl:port name="LM_TestDev_WSHttpGet" binding="tns:LM_TestDev_WSHttpGet">
      <http:address location="http://localhost:54016/LM_TestDev_WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>